%div{:class => [:hero, :dark, :row]}
  %p
    %big{:class => :miles} 0
    of
    %span{:class => :goal} 0
    miles this week.
  %p
    %big{:class => :trend} 0
    %span{:class => :trend_desc} more miles than last week.
  %p{:style => "flex: 1"}
    %big On track
    to hit goal by
    %span{:class => :goal_date} January 1.
  %div{:class => [:graph, :row]}
%div{:class => ["master-detail", :row]}
  .master
    .empty
      %p You haven&rsquo;t gone for a run yet.
      %button Get the app
    %ul.list
  .detail
    .empty
      %p Once you go for a run, refresh to see details here.
      %button See a sample
    #output
%div{:class => [:footer, :dark]}
  %span
    GET your data at
    %a{:href => "#{base}api/#{dbs[0].id}?user=#{api_keys[0].api_key}&amp;token=#{api_keys[0].token}"} #{base}api/#{dbs[0].id}?user=#{api_keys[0].api_key}&amp;token=#{api_keys[0].token}
<!-- Cloudant URL -->
<!-- #{dbs[0].api.chomp('/')}/#{dbs[0].table} -->
