%div{:class => [:main, :column, :expand]}
  %div{:class => [:modal]}
    %span
      %img.spinner{:src => "images/loader.gif"}
      Loading run data&hellip;

<!-- Global data -->
%script
  CLOUDANT_DATA_URL = "#{db_url}";
  APPLICATION_DATA_URL = "#{base}api/#{db.id}?user=#{api_key.api_key}&token=#{api_key.token}";

<!-- Non-NPM dependencies -->
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDrMrHDCL33b4PkB0p5SZlCR7mwc7Yp7SA&libraries=geometry"}

<!-- Application -->
%script{:src => "js/bundle.js"}
