%p
  Welcome #{current_user.id}.

%h3 Databases
%ul
- dbs.each do |db|
  %li
    #{db.api}
    %a{:href => "/databases/#{db.id}/tables/add"} Add table
    - if db.tables.count > 0
      %ul
        - db.tables.each do |table|
          %li #{table.name}
%a{:href => "/databases/add"} Define a new database

%h3 API Keys
%ul
- api_keys.each do |api_key|
  %li
    #{api_key.api_key}
%a{:href => "/api_keys/add"} Define a new API key
